@font-face {
    font-family: fonte-lato;
    src: url(../assets/fonts/Lato-Regular.ttf);
}

*{
    font: 14px fonte-lato, arial, sans-serif;
    /* font-size: 14px;
    font-family: fonte-lato; */
    margin: 0;
    padding: 0;
}